@import "beercss/dist/cdn/beer.min.css";

:root {
    --primary:#aac7ff;
    --on-primary:#002f64;
    --primary-container:#00458d;
    --on-primary-container:#d6e3ff;
    --secondary:#bec6dc;
    --on-secondary:#283141;
    --secondary-container:#3e4759;
    --on-secondary-container:#dae2f9;
    --tertiary:#dcbce0;
    --on-tertiary:#3f2844;
    --tertiary-container:#573e5c;
    --on-tertiary-container:#f9d8fd;
    --error:#ffb4ab;
    --on-error:#690005;
    --error-container:#93000a;
    --on-error-container:#ffb4ab;
    --background:#1a1b1e;
    --on-background:#e3e2e6;
    --surface:#121316;
    --on-surface:#e3e2e6;
    --surface-variant:#44474e;
    --on-surface-variant:#c4c6d0;
    --outline:#8e9099;
    --outline-variant:#44474e;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#e3e2e6;
    --inverse-on-surface:#2f3033;
    --inverse-primary:#2a5ea7;
    --surface-dim:#121316;
    --surface-bright:#38393c;
    --surface-container-lowest:#0d0e11;
    --surface-container-low:#1a1b1e;
    --surface-container:#1e1f23;
    --surface-container-high:#292a2d;
    --surface-container-highest:#343538;
}