@import "beercss/dist/cdn/beer.min.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    --primary:#9ecaff;
    --on-primary:#003258;
    --primary-container:#00497d;
    --on-primary-container:#d1e4ff;
    --secondary:#bbc7db;
    --on-secondary:#253140;
    --secondary-container:#3b4858;
    --on-secondary-container:#d7e3f7;
    --tertiary:#d6bee4;
    --on-tertiary:#3b2948;
    --tertiary-container:#523f5f;
    --on-tertiary-container:#f2daff;
    --error:#ffb4ab;
    --on-error:#690005;
    --error-container:#93000a;
    --on-error-container:#ffb4ab;
    --background:#1a1c1e;
    --on-background:#e2e2e6;
    --surface:#121316;
    --on-surface:#e2e2e6;
    --surface-variant:#43474e;
    --on-surface-variant:#c3c7cf;
    --outline:#8d9199;
    --outline-variant:#43474e;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#e2e2e6;
    --inverse-on-surface:#2f3033;
    --inverse-primary:#0061a4;
    --surface-dim:#121316;
    --surface-bright:#38393c;
    --surface-container-lowest:#0d0e11;
    --surface-container-low:#1a1c1e;
    --surface-container:#1e2022;
    --surface-container-high:#282a2d;
    --surface-container-highest:#333538;
}
* {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


svg {
    display: flex;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

h2 {
    border-radius: 16px;
}

.page {
    height: 100%
}


/* Media Queries */

@media screen and (max-width: 869px) {
    h5 {
        font-size: 12px;
    }
}

@media screen and (max-width: 872px) {
    h1 {
        font-size: 24px;
    }
}

